<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        [v-cloak] {
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <button @click="toggleBox">Show box</button>
        <hr />
        <div v-if="isVisiable" class="box" ></div> 
        <login-form />
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisiable: true,
                }
            },
            methods: {
                toggleBox() {
                    this.isVisiable = !this.isVisiable
                },
                greet(greeting) {
                    console.log(greeting)
                }
            },
        })

        
        app.component('login-form',{
            template: `
                <from>
                    <h1>{{ title }}</h1>
                    <custom-input
                    v-for="(input, i) in inputs" 
                    :key="i"
                    :type="input.type" 
                    v-model="input.value" 
                    :lable="input.label"
                    />
                    <button @click.prevent="handleSubmit">log in</button> 
                </from>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login From',
                    inputs: [
                        {
                            label: 'Email',
                            value: '',
                            type: 'email'
                        },
                        {
                            label: 'Password',
                            value: '',
                            type: 'password'
                        },
                    ],
                    emailtype: 'email',
                    email: '',
                    passwordtype: 'password',
                    password: '',
                    emailLable: 'Email',
                    passwordLable: 'Password',
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.inputs[0].value, this.inputs[1].value)
                }
            }
        })
        app.component('custom-input', {
            template: `
                <lable>
                    {{lable}}
                    <input :type = "type" v-model="inputValue" />
                </lable>
            `,
            props: ['lable', 'type', 'modelValue'],
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>