<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        [v-cloak] {
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <login-form />

        <hr />

        <button @click="toggleBox">Show box</button>
        <div v-if="isVisiable" class="box" ></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisiable: false,
                }
            },
            methods: {
                toggleBox() {
                    this.isVisiable = !this.isVisiable
                },
                greet(greeting) {
                    console.log(greeting)
                }
            },
        })

        app.component('login-form',{
            template: `
                <from>
                    <h1>{{ title }}</h1>
                    <p v-for="(str, i) in inputs" :key="i" >{{str}}</p>
                    <custom-input :type="emailtype" v-model="email" :lable="emailLable"/>
                    <custom-input :type="passwordtype" v-model="password" v-bind:lable="passwordLable"/>
                    <button @click.prevent="handleSubmit">log in</button> 
                </from>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login From',
                    inputs: [
                        'email',
                        'password',
                        'name',
                    ],
                    emailtype: 'email',
                    email: '',
                    passwordtype: 'password',
                    password: '',
                    emailLable: 'Email',
                    passwordLable: 'Password',
                }
            },
            methods: {
                handleSubmit() {
                    console.log('submitted', this.email, this.password)
                }
            }
        })
        app.component('custom-input', {
            template: `
                <lable>
                    {{lable}}
                    <input :type = "type" v-model="inputValue" />
                </lable>
            `,
            props: ['lable', 'type', 'modelValue'],
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>